extends layout
block title
    title Dendro Prov Software
block content


    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_qqvfjv70eLnKgFkjml8zdXjs780eTCw&sensor=false")
    script(src='/public/js/maps.js')
    script(src='/public/js/utils.js')

    body
    div.container(ng-controller='mainCtrl')
        div.jumbotron
            div.page-header
                div.container
                    div.mainHeader
                        h1 Welcome to dendro software

        div.container-fluid(id="main")

            div.row
                #map
                div.col-sm-4

                    form( id="uploadForm",enctype="multipart/form-data",action="JavaScript:sendForm()", method="post")

                        h4 Choose Test site (textFile)
                        input(type="file" name="testSite" required)
                        h4 Choose Network site (.zip)
                        input(type="file" name="network" required)
                        h4 Choose Site position file (in format key,lat,long)
                        input(type="file" name="position")
                        // input(type="submit" value="Upload Zip of Network" name="submit")
                        div.form-group
                            div.radio
                                label
                                    input(type="radio" name="mean")
                                    | Mean
                            div.radio
                                label
                                    input(type="radio" name="median")
                                    | Median
                        input(type="submit" name="calculate" value="calculate" class="btn btn-default")
                div.col-sm-4
                    #output
                        textarea(rows="1" cols="1" class="hidden")

                        // TODO do server side validation that this is indeed a .zip file
                div.col-sm-4

        // h3 Google Map

// <div id="map-canvas"></div>
// <div class="container-fluid" id="main">
//   <div class="row">
//   	<div class="col-xs-8" id="left">
//         <h2>Bootstrap Google Maps Demo</h2>
//     </div>
//     <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
//   </div>
// </div>
// img(src="https://maps.googleapis.com/maps/api/staticmap?center=Opera+House,Sydney+Australia&zoom=13&size=400x300&markers=-33.8565,151.2151&sensor=false")
