doctype html
html(ng-app='dendApp')
  head
    block title
      title= title
    // link(rel='stylesheet', href='../public/stylesheets/style.css')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.css', rel='stylesheet')
    link(href='/public/stylesheets/style.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/public/favicon.ico', type='image/x-icon') 

    script(src="/bower_components/jquery/dist/jquery.js")
    // script(type="text/javascript" src="/public/js/utils.js")

    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    // script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
    // script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js")
    // script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js")
    // script(type="text/javascript" src="/public/js/app_client.js")
    // script(src="http://bouil.github.io/angular-google-chart/ng-google-chart.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/amcharts.js")


  body
    block content