/*!CK:2072061127!*//*1437404405,*/

.sp_KY0RUHAvhR_{background-image:url(/rsrc.php/v2/y5/r/Fg-my08jZeF.png);background-size:26px 26px;background-repeat:no-repeat;display:inline-block;height:12px;width:13px}.sp_KY0RUHAvhR_.sx_531178{background-position:-13px 0}.selected .sp_KY0RUHAvhR_.sx_531178{background-position:0 0}.sp_KY0RUHAvhR_.sx_6cade6{width:12px;background-position:0 -13px}

#bootloader_JZLlf { height: 42px; }
.bootloader_JZLlf { display:block !important; }