/*!CK:4194382580!*//*1433751226,*/

.sp_S5GL8h9YzIN{background-image:url(/rsrc.php/v2/yy/r/h7WafLRID-O.png);background-size:26px 63px;background-repeat:no-repeat;display:inline-block;height:50px;width:25px}.sp_S5GL8h9YzIN.sx_f6c10d{width:10px;height:10px;background-position:-12px -51px}.sp_S5GL8h9YzIN.sx_c938c5{background-position:0 0}.sp_S5GL8h9YzIN.sx_c23f8e{width:11px;height:11px;background-position:0 -51px}

#bootloader_zkOz3 { height: 42px; }
.bootloader_zkOz3 { display:block !important; }