/*!CK:1086075138!*//*1441115954,*/

.sp_nFoXNonVJIH{background-image:url(/rsrc.php/v2/y2/r/7oisme99Nbw.png);background-size:41px 226px;background-repeat:no-repeat;display:inline-block;height:40px;width:40px}.sp_nFoXNonVJIH.sx_5a17f4{background-position:0 0}.sp_nFoXNonVJIH.sx_f10ab9{background-position:0 -41px}.sp_nFoXNonVJIH.sx_7beec1{background-position:0 -82px}.sp_nFoXNonVJIH.sx_44259c{background-position:0 -123px}.sp_nFoXNonVJIH.sx_e8a536{width:20px;height:20px;background-position:0 -205px}.sp_nFoXNonVJIH.sx_380768{background-position:0 -164px}

#bootloader_RAMPn { height: 42px; }
.bootloader_RAMPn { display:block !important; }