/*!CK:1528488152!*//*1434380655,*/

.sp_SlG8uGAKirw{background-image:url(/rsrc.php/v2/yF/r/F_YpVPz_DUt.png);background-size:17px 61px;background-repeat:no-repeat;display:inline-block;height:8px;width:8px}.sp_SlG8uGAKirw.sx_fc23a0{width:15px;height:16px;background-position:0 -17px}.sp_SlG8uGAKirw.sx_29f875{width:16px;height:16px;background-position:0 0}.sp_SlG8uGAKirw.sx_8a2003{background-position:0 -34px}.sp_SlG8uGAKirw.sx_3183c1{background-position:0 -43px}.sp_SlG8uGAKirw.sx_bb3079{background-position:0 -52px}

#bootloader_GU2Yy { height: 42px; }
.bootloader_GU2Yy { display:block !important; }