/*!CK:1397288813!*//*1441807880,*/

.sp_aTO2SoNezsb{background-image:url(/rsrc.php/v2/yb/r/dyxmO5Iigs-.png);background-size:17px 30px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_aTO2SoNezsb.sx_2d6832{background-position:0 0}.sp_aTO2SoNezsb.sx_3364b5{width:12px;height:12px;background-position:0 -17px}

#bootloader_L_o7K { height: 42px; }
.bootloader_L_o7K { display:block !important; }