/*!CK:4182445453!*//*1439908458,*/

.sp_jqXHhjQyL8y{background-image:url(/rsrc.php/v2/ye/r/PO-PelCqZqd.png);background-size:17px 70px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_jqXHhjQyL8y.sx_9227fa{width:9px;height:9px;background-position:0 -60px}.sp_jqXHhjQyL8y.sx_1f6fb6{background-position:0 0}.sp_jqXHhjQyL8y.sx_dfee23{background-position:0 -17px}.sp_jqXHhjQyL8y.sx_0d34d6{width:12px;height:12px;background-position:0 -34px}.sp_jqXHhjQyL8y.sx_e25674{width:12px;height:12px;background-position:0 -47px}

#bootloader_M6rvA { height: 42px; }
.bootloader_M6rvA { display:block !important; }