/*!CK:645112912!*//*1434391957,*/

.sp_4kZmVst-sNI{background-image:url(/rsrc.php/v2/yx/r/wVDrIBHE3-T.png);background-size:27px 41px;background-repeat:no-repeat;display:inline-block;height:12px;width:13px}.sp_4kZmVst-sNI.sx_13d3c7{width:14px;height:14px;background-position:0 -26px}.sp_4kZmVst-sNI.sx_3eefed{background-position:-13px 0}.selected .sp_4kZmVst-sNI.sx_3eefed{background-position:0 0}.sp_4kZmVst-sNI.sx_5a26b6{background-position:-13px -13px}.selected .sp_4kZmVst-sNI.sx_5a26b6{background-position:0 -13px}

#bootloader_MPRha { height: 42px; }
.bootloader_MPRha { display:block !important; }