/*!CK:1819801611!*//*1441791336,*/

.sidebarMode #fbChatErrorNub{display:none}
._5q6o{display:block;float:left;margin-right:5px;margin-top:-1px}._5q6p{color:#3b5998}._5uhj{border-bottom:0;margin-bottom:-14px}._5v3q ._5uhj{background-color:transparent;margin-bottom:-11px}

#bootloader_qFBT1 { height: 42px; }
.bootloader_qFBT1 { display:block !important; }