/*!CK:3895679460!*//*1438093020,*/

._536w+._536w{padding-top:15px}
.fbEventHovercardButtons .fbEventHovercardInviteIcon,.fbEventHovercardButtons .fbEventHovercardJoinIcon{margin-top:2px}.fbEventHovercardButtons .fbEventHovercardStatus,.fbEventHovercardButtons .fbEventHovercardHideLink{position:relative;top:4px}.fbEventHovercardButtons .fbEventHovercardHideLink{color:gray}.fbEventHovercardButtons .fbEventHovercardSaveButton{margin-left:4px}.fbEventHovercardButtons .fbEventHovercardSaveButton ._2ig7{margin-left:0;padding-left:2px}.fbEventHovercardButtons .fbEventHovercardSaveButton ._4er2{margin-left:0;padding-left:2px}._10zy{padding-left:4px}

#bootloader_i4O4x { height: 42px; }
.bootloader_i4O4x { display:block !important; }